@use "@/styles/mixins.scss" as m;

.header {
  padding: 1.1rem 0;
  background-color: var(--color-dark);

  @include m.mobile {
    padding: 1.65rem 0;

    .toggle {
      position: absolute;
      right: 1rem;
      top: 1.15rem;
      z-index: 2;
      cursor: pointer;

      width: 1.5rem;
      height: .9rem;
      background-image: url("/images/menu-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include m.mobile {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

      width: 50%;
      background-color: var(--color-dark);
      padding: 3rem 1.25rem;

      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;

      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  }

  .list {
    display: flex;
    gap: 1rem;

    @include m.mobile {
      flex-direction: column;
    }
  }

  .link {
    font-family: Aquire;
    font-weight: 700;
    font-size: 1.15rem;
    line-height: 0;
    color: var(--color-light);

    &:hover {
      text-decoration: underline;
    }

    @include m.mobile {
      font-size: 0.9rem;
    }
  }

  .menuActive {
    visibility: visible;
    opacity: 1;
  }

  .toggleActive {
    position: fixed;
    top: 1rem;
    height: 1.25rem;
    background-image: url("/images/close-icon.svg");
  }

  .flags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .flag {
    filter: grayscale(0.4);
    cursor: pointer;
  }
}
