@use "@/styles/mixins.scss" as m;

.header {
  padding-block: 1rem;
  background-color: var(--color-dark);
  position: relative;

  font-family: Aquire;
  font-weight: 700;
  font-size: 1.15rem;

  @include m.mobile {
    padding-block: 1.8rem;
  }

  .content {
    display: flex;
    gap: 1rem;
  }

  .logo {
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: max(calc(50% - 37.25rem), 5rem);
    height: 100%;
    padding-right: 0.25rem;

    @include m.mobile {
      padding-right: 1.5rem;
    }

    background-color: var(--color-light);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: 100ms;

    img {
      filter: invert(1);

      &:hover {
        filter: invert(0.8);
      }
    }
  }

  .toggle {
    position: absolute;
    right: 1.5rem;
    top: 1.3rem;
    z-index: 3;
    cursor: pointer;

    width: 1.75rem;
    height: 1.1rem;
    background-image: url("/images/menu-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @include m.desktop {
      display: none;
    }
  }

  .toggleActive {
    position: fixed;
    top: 1.15rem;
    height: 1.5rem;
    background-image: url("/images/close-icon.svg");
  }

  .nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;

    @include m.mobile {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;

      width: 50%;
      background-color: var(--color-dark);
      padding: 4rem 1.25rem;

      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 2;

      transition: 0.3s;
      visibility: hidden;
      opacity: 0;
    }
  }

  .list {
    display: flex;
    gap: 1rem;

    @include m.mobile {
      flex-direction: column;
    }
  }

  .link {
    line-height: 0;
    color: var(--color-light);

    &:hover {
      text-decoration: underline;
    }
  }

  .menuActive {
    visibility: visible;
    opacity: 1;
  }

  .flags {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .flag {
    filter: grayscale(1);
    cursor: pointer;
  }
}
