@use "@/styles/mixins.scss" as m;

.project_item {
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow-y: hidden;

    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
  .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;

    max-width: 290px;
    height: 2.8rem;
    line-height: 1.5;
  }

  .image_wrapper {
    position: relative;
    height: 520px;
    max-height: 57vh;
    margin-bottom: 0.75rem;

    @include m.mobile {
      height: 220px;
    }
  }

  .button {
    width: 100%;
    background-color: var(--clr-light);
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: var(--clr-dark);
    font-family: inherit;
    text-transform: uppercase;

    cursor: pointer;
    border: none;

    &:hover {
      opacity: 0.9;
    }
  }
}
