@use "@/styles/mixins.scss" as m;

.project_item {
  .title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .description {
    font-family: Ubuntu;
    max-width: 290px;
    line-height: 1.5;
  }

  .image_wrapper {
    position: relative;
    height: 520px;
    margin-bottom: 0.75rem;

    @include m.mobile {
      height: 220px;
    }
  }

  .button {
    width: 100%;
    background-color: var(--color-light);
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    font-family: Ubuntu;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--color-dark);

    cursor: pointer;
    border: none;

    &:hover {
      opacity: 0.9;
    }
  }
}
