@use "@/styles/mixins.scss" as m;

.thumbnail {
  position: relative;
  height: 13.75rem;
  max-height: 57vh;
  margin-bottom: 0.75rem;

  @include m.desktop {
    height: 32.5rem;
  }
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;

  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-size: 1.25rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;

  margin-bottom: 0.75rem;
  max-width: 18.125rem;
  height: 2.8rem;
  line-height: 1.5;
}

.button {
  width: 100%;
  background-color: var(--clr-light);
  padding: 0.5rem;
  font-size: 0.95rem;
  font-family: inherit;
  color: var(--clr-dark);
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  &:hover {
    opacity: 0.9;
  }
}
