@use "@/styles/mixins.scss" as m;

.hero {
  position: relative;
  height: 21.85rem;

  @include m.desktop {
    height: 76.5vh;
  }
}

.background_image {
  position: absolute;
  inset: 0;

  @include m.mobile {
    img {
      object-position: center !important;
    }
  }
}

.heading {
  position: absolute;
  right: 0;
  bottom: 5.75rem;

  width: 18.75rem;
  padding: 0.45rem 0.45rem 0.25rem;

  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 3.125rem 0 0 3.125rem;

  @include m.desktop {
    bottom: 24.5vh;
    width: max(calc(50% - 12.25rem), 29.05rem);
    padding: 0.525rem;
  }
}
