@use "@/styles/mixins.scss" as m;

.hero {
  position: relative;
  height: 700px;

  @include m.mobile {
    height: 350px;
  }

  .img {
    position: absolute;
    inset: 0;

    @include m.mobile {
      img {
        object-position: center !important;
      }
    }
  }

  .textWrapper {
    position: relative;
    height: 100%;
  }

  .heading {
    background-color: rgba(0, 0, 0, 0.75);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 0.5rem;
    padding-top: 0.4rem;
    line-height: 0.85;

    width: max(calc(50% - 12.25rem), 465px);

    position: absolute;
    right: 0;
    bottom: 14rem;

    font-family: Aquire;
    font-weight: 700;
    font-size: 5rem;

    color: var(--color-light);
    text-shadow: -3px 3px var(--color-dark);

    @include m.mobile {
      width: 300px;
      bottom: 5.75rem;
      font-size: 3rem;
      text-shadow: -2px 2px var(--color-dark);
    }
  }
}
