@use "@/styles/mixins.scss" as m;

.hero {
  position: relative;
  height: 700px;

  @include m.mobile {
    height: 350px;
  }

  .img {
    position: absolute;
    inset: 0;

    @include m.mobile {
      img {
        object-position: center !important;
      }
    }
  }

  .textWrapper {
    position: relative;
    height: 100%;
  }

  .heading_wrapper {
    position: absolute;
    right: 0;
    bottom: 14rem;

    width: max(calc(50% - 12.25rem), 465px);
    padding: 0.525rem;

    background-color: rgba(0, 0, 0, 0.75);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    @include m.mobile {
      width: 300px;
      bottom: 5.75rem;
      padding: 0.45rem 0.45rem 0.25rem;
    }
  }

  .heading {
    position: relative;
    width: 442px;
    height: 57px;

    background-image: url("/images/heading.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include m.mobile {
      background-image: url("/images/heading-m.svg");
      width: 267px;
      height: 35px;
    }
  }
}
