@use "@/styles/mixins.scss" as m;

.footer {
  padding-block: 1.25rem;
  background-color: var(--clr-dark);
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  @include m.mobile {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}