@use "@/styles/mixins.scss" as m;

.projects {
  position: relative;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.content {
  --gap: 1.25rem;

  padding-block: 1.25rem;
  border-bottom: 1px solid var(--clr-light);

  display: grid;
  grid-template-columns: 100%;
  gap: var(--gap);

  @include m.desktop {
    --gap: 0.75rem;
    grid-template-columns: repeat(3, calc((100% - var(--gap) * 2) / 3));
  }
}

.category_name {
  font-size: 1.35rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
