@font-face {
  font-family: "FiraGO Book";
  src: url("/fonts/FiraGO-Book.eot");
  src: url("/fonts/FiraGO-Book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/FiraGO-Book.woff2") format("woff2"),
    url("/fonts/FiraGO-Book.woff") format("woff"),
    url("/fonts/FiraGO-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
