@use "./mixins.scss" as m;

.footer {
  padding: 2rem 0;
  background-color: var(--color-dark);

  .list {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    @include m.mobile {
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }

  .link {
    color: var(--color-light);

    &:hover {
      text-decoration: underline;
    }
  }
}
