@use "./mixins.scss" as mix;

/* Import Fonts */
@font-face {
  font-family: FiraBook;
  src: url("/fonts/FiraBook.otf");
}

// Root Variables
:root {
  --color-dark: rgb(21, 21, 21);
  --color-light: rgb(230, 230, 230);
}

// Reset Styles
html,
body {
  font-family: FiraBook, sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

// Global Styles
.container {
  max-width: 1320px;
  margin-inline: auto;
  padding: 0 1rem;
}

.section-heading {
  padding: 1rem 0;
  background-color: var(--color-dark);
  color: var(--color-light);
  text-transform: uppercase;
  text-align: center;
}

.desktop-snap {
  @include mix.desktop {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }
}

.desktop-snap-start {
  @include mix.desktop {
    scroll-snap-align: start;
  }
}

.desktop-snap-center {
  @include mix.desktop {
    scroll-snap-align: center;
  }
}

.desktop-snap-end {
  @include mix.desktop {
    scroll-snap-align: end;
  }
}

/* SwiperJS Override Styles */
.swiper-pagination-progressbar-fill {
  background-color: var(--color-light) !important;
}

.swiper-pagination-progressbar {
  height: 2px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--color-light) !important;
  transform: translateY(-3rem);
}
