@use "./mixins.scss" as mix;
@import "./scrollbar.scss";
@import "./fonts.scss";

/* Root Variables */
:root {
  --clr-dark: #151515;
  --clr-light: #e6e6e6;
}

/* Reset Styles */
html,
body {
  font-family: "FiraGO Book", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* Global Styles */
.container {
  max-width: 82.5rem;
  margin-inline: auto;
  padding-inline: 1rem;
  position: relative;
}

.section-title {
  padding-block: 1rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-transform: uppercase;
  text-align: center;
}

.opacity {
  position: fixed;
  inset: 0;
  z-index: 4;
  background-color: #000000;
  transition: 300ms ease-in-out;
  visibility: hidden;
  opacity: 0;

  &[data-active="true"] {
    visibility: visible;
    opacity: 0.5;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.flex-mobile {
  display: flex;

  @include mix.desktop {
    display: none;
  }
}

.flex-desktop {
  display: flex;

  @include mix.mobile {
    display: none;
  }
}

.snap {
  @include mix.desktop {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
  }
}

.snap-start {
  @include mix.desktop {
    scroll-snap-align: start;
  }
}

.snap-center {
  @include mix.desktop {
    scroll-snap-align: center;
  }
}

.snap-end {
  @include mix.desktop {
    scroll-snap-align: end;
  }
}

/* Swiper.js Override Styles */
.swiper-pagination-progressbar-fill {
  background-color: var(--clr-light) !important;
}

.swiper-pagination-progressbar {
  height: 2px !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--clr-light) !important;
  background-color: var(--clr-dark);
  width: 40px !important;
  height: 50px !important;
  transition: 100ms ease-in-out;
  opacity: 0.9;

  &::after {
    font-size: 27px !important;
  }

  &:hover {
    opacity: 1;
  }

  @include mix.desktop {
    width: 50px !important;
    height: 60px !important;

    &::after {
      font-size: 33px !important;
    }
  }
}

.swiper-slide-thumb-active {
  border-color: var(--clr-dark) !important;
}

.project-item {
  .swiper-button-next,
  .swiper-button-prev {
    transform: translateY(-76px) !important;
  }
}
