.header {
  padding: 1rem 0;
  background-color: var(--color-dark);

  nav {
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      gap: 1rem;

      a {
        font-family: Aquire;
        font-weight: 700;
        color: var(--color-light);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
