@use "./mixins.scss" as m;

.hero {
  position: relative;
  height: 700px;

  @include m.mobile {
    height: 350px;
  }

  .img {
    position: absolute;
    inset: 0;

    @include m.mobile {
      img {
        object-position: center !important;
      }
    }
  }

  .textWrapper {
    position: relative;
    height: 100%;
  }

  .heading {
    position: absolute;
    right: 0.5rem;
    bottom: 14rem;

    font-family: Aquire;
    font-weight: 700;
    font-size: 5rem;

    @include m.mobile {
      bottom: 5.75rem;
      font-size: 3rem;
    }
  }
}
